@using BridgingIT.DevKit.Examples.DoFiesta.Presentation.Web.Client.Layout

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            @if (RequiresAuthentication(routeData.PageType))
            {
                <AuthorizeView>
                    <Authorized>
                        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                    </Authorized>
                    <Authorizing>
                        @* <p>Determining session state, please wait...</p> *@
                    </Authorizing>
                    <NotAuthorized>
                        <h1>Sorry</h1>
                        <p>You are not authorized to view this page</p>
                        <RedirectToLogin />
                    </NotAuthorized>
                </AuthorizeView>
            }
            else
            {
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            }
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex justify-center mt-4">
                    <MudAlert Severity="Severity.Error">Sorry, there's nothing at this address.</MudAlert>
                </MudContainer>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    private static bool RequiresAuthentication(Type pageType)
    {
        return pageType.IsDefined(typeof(RequireAuthenticationAttribute), inherit: true);
    }
}
